<!-- component -->
<div class="w-full">
	<div class="bg-white shadow-md rounded-lg my-6">
		<table class="min-w-max w-full rounded-lg table-auto">
			<thead>
			<tr class="bg-slate-200 text-gray-600 uppercase text-sm leading-normal">
				<th class="py-3 px-6 text-left">ID</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">NAME</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">EMAIL</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">CITY</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">PHONE</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">SALARY $</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">DEPARTMENT</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">REGISTERED @</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">ROLE</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">ACTION</th>
			</tr>
			</thead>
			<tbody class="text-slate-600 text-sm font-light">
			{% for user in users %}
				<tr class="border-b border-slate-200 hover:bg-slate-100">
					<td class="py-3 w-10 px-6 text-center whitespace-nowrap">
						<span class="font-medium">{{ user.id }}</span>
					</td>
					<td class="py-3 px-6">
						<span class="font-medium whitespace-nowrap text-slate-500">{{ user.name }}</span>
					</td>
					<td class="py-3 px-6 whitespace-nowrap">{{ user.email }}</td>
					<td class="py-3 px-6 whitespace-nowrap">{{ user.city }}</td>
					<td class="py-3 px-6 whitespace-nowrap">{{ user.phone }}</td>
					<td class="py-3 px-6 w-20">
						{% if user.salary == null %}
							<span class="bg-gray-100 font-medium block text-center text-gray-500 py-1 px-3 uppercase rounded-full text-xs">
									N/A
							</span>

						{% else %}
							<span
									class="bg-purple-100 font-medium block text-center text-purple-500 py-1 px-3 uppercase rounded-full text-xs">
							{{ user.salary }}
						</span>
						{% endif %}


					</td>
					<td class="py-3 px-6 w-20 font-medium">
						{% if user.department == 'IT' %}
							<span class="bg-blue-100 block text-center text-blue-500 py-1 px-3 uppercase rounded-full text-xs">
									{{ user.department }}
							</span>
						{% endif %}
						{% if user.department == 'HR' %}
							<span class="bg-orange-100 block text-center text-orange-500 py-1 px-3 uppercase rounded-full text-xs">
									{{ user.department }}
							</span>
						{% endif %}

						{% if user.department == 'Sales' %}
							<span class="bg-emerald-100 block text-center text-emerald-500 py-1 px-3 uppercase rounded-full text-xs">
									{{ user.department }}
							</span>
						{% endif %}

						{% if user.department == 'Marketing' %}
							<span class="bg-pink-100 block text-center text-pink-500 py-1 px-3 uppercase rounded-full text-xs">
									{{ user.department }}
							</span>
						{% endif %}

						{% if user.department == 'Finance' %}
							<span class="bg-yellow-100 block text-center text-yellow-500 py-1 px-3 uppercase rounded-full text-xs">
									{{ user.department }}
							</span>
						{% endif %}

						{% if user.department == 'Admin' %}
							<span class="bg-rose-100 block text-center text-rose-500 py-1 px-3 uppercase rounded-full text-xs">
									{{ user.department }}
							</span>
						{% endif %}
						{% if user.department == 'Production' %}
							<span class="bg-indigo-100 block text-center text-indigo-500 py-1 px-3 uppercase rounded-full text-xs">
									{{ user.department }}
							</span>
						{% endif %}
						{% if user.department == null %}
							<span class="bg-gray-100 block text-center text-gray-500 py-1 px-3 uppercase rounded-full text-xs">
									N/A
							</span>

						{% endif %}
					</td>
					<td class="py-3 px-6 whitespace-nowrap">
						{{ user.created_at|date('d M, Y @ h:i a') }}
					</td>
					<td class="py-3 px-6 w-[100px] font-medium">
						{% if user.role == 'admin' %}
							<span class="bg-purple-100 block text-center text-purple-500 py-1 px-3 uppercase rounded-full text-xs">
									admin
								</span>
						{% endif %}
						{% if user.role == 'doctor' %}
							<span class="bg-rose-100 block text-center text-rose-500 py-1 px-3 uppercase rounded-full text-xs">
									doctor
								</span>
						{% endif %}
						{% if user.role == 'patient' %}
							<span class="bg-blue-100 block text-center text-blue-500 py-1 px-3 uppercase rounded-full text-xs">
									patient
								</span>
						{% endif %}
						{% if user.role == 'nurse' %}
							<span class="bg-yellow-100 block text-center text-yellow-500 py-1 px-3 uppercase rounded-full text-xs">
									nurse
								</span>
						{% endif %}
						{% if user.role == 'employee' %}
							<span class="bg-emerald-100 block text-center text-emerald-500 py-1 px-3 uppercase rounded-full text-xs">
									employee
								</span>
						{% endif %}
					</td>
					<td class="py-3 px-6 w-20">
						<div class="flex item-center justify-center">
							<a href="/users/manage/show/{{ user.id }}"
								 class="w-4 mr-2 transform hover:text-indigo-500 hover:scale-110">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
								</svg>
							</a>
							<a href="/users/manage/delete/{{ user.id }}"
								 class="w-4 mr-2 transform hover:text-indigo-500 hover:scale-110">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
								</svg>
							</a>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
