<!-- component -->
<div class="w-full">
	<div class="bg-white shadow-md rounded-lg my-6">
		<table class="min-w-max w-full rounded-lg table-auto">
			<thead>
			<tr class="bg-slate-200 text-gray-600 uppercase text-sm leading-normal">
				<th class="py-3 px-6 text-left">ID</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">PATIENT</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">DOCTOR</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">EMPLOYEE</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">DATE</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">START TIME</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">END TIME</th>
				<th class="py-3 px-6 text-left whitespace-nowrap">ACTION</th>
			</tr>
			</thead>
			<tbody class="text-slate-600 text-sm font-light">
			{% for user in appointments %}
				<tr class="border-b border-slate-200 hover:bg-slate-100">
					<td class="py-3 w-10 px-6 text-center whitespace-nowrap">
						<span class="font-medium">{{ user.appointment_id }}</span>
					</td>
					<td class="py-3 px-6">
						<span class="font-medium whitespace-nowrap text-slate-500">{{ user.patient_name }}</span>
					</td>
					<td class="py-3 px-6 whitespace-nowrap">{{ user.doctor_name }}</td>
					<td class="py-3 px-6 whitespace-nowrap">{{ user.nurse_name }}</td>
					<td class="py-3 px-6 whitespace-nowrap">{{ user.date }}</td>
					<td class="py-3 px-6 whitespace-nowrap">{{ user.time_start }}</td>
					<td class="py-3 px-6 whitespace-nowrap">{{ user.time_end }}</td>
					<td class="py-3 px-6 w-20">
						<div class="flex item-center justify-center">
							<a href="/appointments/manage/show/{{ user.appointment_id }}"
								 class="w-4 mr-2 transform hover:text-indigo-500 hover:scale-110">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
								</svg>
							</a>
							<a href="/appointments/manage/delete/{{ user.id }}"
								 class="w-4 mr-2 transform hover:text-indigo-500 hover:scale-110">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
								</svg>
							</a>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
